.section{
    margin: 0 auto;
}
  
.section-title{
    border-top: solid 1px tomato;
    border-bottom: solid 1px tomato;
    padding: 10px;  
    text-align: center;
}

#about p{
    text-align: justify;
    margin: 10px auto;
}
  
#about, #projects{
    width: 800px;
    height: auto;  
}

#projects{ 
    padding-bottom: 50px;
}

.description b{
    color: tomato;
}

@media only screen and (max-width: 800px) {
    #about, #projects{
        width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    #about, #projects{
        width: 300px;
    }
}
  