.App {
  text-align: center; 
  position: relative; 
  width: 800px;
  height: auto;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
  display: flex;
  align-items: center;    
}

#header{
  width: 280px;
  height: 100vh;  
}

#projects{
  width: 800px;
  height: 100vh;
}

.page-header{
  box-sizing: content-box;
  width: 100%;    
}

.page-header h1, h3{
  margin: 0px;  
}






