.App {
  text-align: center; 
  position: relative; 
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
  display: flex;
  align-items: center;    
}

#header{
  width: 245px;
  height:100vh;  
}


#about p{
  text-align: justify;
  margin: 10px auto;
}

#about{
  width: 60%;
  height: auto;  
}

#projects{
  width: 60%;
  height: auto; 
  padding-bottom: 200px;
}

.page-header{
  box-sizing: content-box;
  width: 100%;    
}

.page-header h1, h3{
  margin: 0px;  
}

.page-header h3{
  font-family: 'Poppins', sans-serif; 
}

#personal-links{
  margin: 10px auto;
}

.section{
  margin: 0 auto;
}

.section-title{
  border-top: solid 1px tomato;
  border-bottom: solid 1px tomato;
  padding: 10px;  
  text-align: center;
}

.description b{
  color: tomato;
}



